@using WatchStore25.Models
@using System.Globalization;

@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    string keyword = Request.QueryString["keyword"];
}

@{
    if (keyword == "")
    {
        <h2 style="color:red; text-align:center"><b>Vui lòng nhập từ khóa tìm kiếm!</b></h2>
        <br />
    }
    else
    {
        <div class="small-container">

            <div class="row row-2">
                <h2>Có <b style="color:red">"@ViewBag.result"</b> kết quả tìm kiếm cho từ khóa <b style="color:red">"@ViewBag.keyword"</b></h2>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-4">
                        @if ((item.idTypeProduct == true) || (item.idTypeProduct == false))
                        {
                            <a href="@Url.Action("ProductDetail","Home", new {id = item.idProduct}, null)"><img src="@Url.Content("~/Content/Images/" + item.img)"></a>
                            <a href="@Url.Action("ProductDetail","Home", new {id = item.idProduct}, null)"><h4>@item.name</h4></a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p><h3>@string.Format(new CultureInfo("vi-VN"), "{0:#,## VNĐ}", item.amount)</h3></p>
                        }
                    </div>
                }
            </div>
        </div>
    }
}
