@using WatchStore25.Models
@using System.Globalization;

@{
    ViewBag.Title = "Sản Phẩm Nam";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="small-container">

    <div class="row row-2">
        <h2>Tất cả sản phẩm nữ</h2>
        <select>
            <option>Sắp xếp theo giá giảm dần</option>
            <option>Sắp xếp theo giá tăng dần</option>
        </select>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-4">
            @if (item.idTypeProduct == false)
            {
                <a href="@Url.Action("ProductDetail","Home", new {id = item.idProduct}, null)"><img src="@Url.Content("~/Content/Images/" + item.img)"></a>
                <a href="@Url.Action("ProductDetail","Home", new {id = item.idProduct}, null)"><h4>@item.name</h4></a>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><h3>@string.Format(new CultureInfo("vi-VN"), "{0:#,## VNĐ}", item.amount)</h3></p>
            }
        </div>
        }
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
</div>