@model WatchStore25.Models.PRODUCT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_PRODUCT.nameTypeProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_PRODUCT.nameTypeProduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProduct }) |
    @Html.ActionLink("Back to List", "Index")
</p>
