@model IEnumerable<WatchStore25.Models.DETAIL_ORDER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.totalProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_PRODUCT.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.totalProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_PRODUCT.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetailOrder }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetailOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetailOrder })
        </td>
    </tr>
}

</table>
