@model IEnumerable<WatchStore25.Models.ORDER_PRODUCT>
@using WatchStore25.Models
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout1.cshtml";

    var CartItem = ViewBag.CartItem as List<DETAIL_ORDER>;
}



<div class="container">
    <h1 style="text-align:center; font-size:50px">Chi Tiết đơn đặt</h1>
    <table class="table" style="margin-top:50px ; margin-bottom:120px">
        <tr>
            <th>
                Họ và Tên
            </th>
            <th>
                Sản phẩm
            </th>
            <th>
                Tổng giá
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Số điện Thoại
            </th>
            <th>
                Note
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.name)
        </td>
        <td>
            @foreach (var x in CartItem)
            {
                <div>@x.PRODUCT.name x @x.totalProduct</div>
            }
        </td>
        <td>@(CartItem.Sum(z=> (z.PRODUCT.amount * z.totalProduct - (z.PRODUCT.amount * z.totalProduct * z.PRODUCT.tax / 100))))</td>

        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteOrder)
        </td>
    </tr>
        }

    </table>
</div>
