

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1, maximun-scale=1">
    <title>WS25 Admin</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/ImgAdmin/icon.png")">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="@Url.Content("~/Content/StyleAdmin/styleAdmin.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <div class="logo">
                <a href=@Url.Action("HomeAdmin", "Admin")><img src="@Url.Content("~/Content/ImgAdmin/logo.png")" width="130px"></a>
            </div>

        </div>
        <div class="sidebar-menu">
            <ul>
                <li>

                    <div>@Html.ActionLink("DashBoard", "HomeAdmin", "Admin")</div>

                </li>

                <li>
                    <div>@Html.ActionLink("Sản Phẩm", "ProductManager", "Admin")</div>
                </li>

                <li>
                    <div>@Html.ActionLink("Khách Hàng", "CustomerManager", "Admin")</div>
                </li>

                <li>
                    <div>@Html.ActionLink("Đơn Hàng", "Index", "OrderAdmin")</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here" />
            </div>
            <div class="user-wrapper">
                <img class="animate__headShake" src="@Url.Content("~/Content/ImgAdmin/2.jpg")" width="30px" height="30px" alt="search">
                <div>
                    <h4>Team 01</h4>
                    <small>Super Admin</small>
                </div>
            </div>
        </header>
</div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>
</html>

